# dependencies
/node_modules

# Next.js build output
/.next
/out

# environment variables (NEVER commit these)
.env.local
.env.*.local
.env

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
